<ol class="ticket-list">
  <li>
      {{#each ticket}}
    <article class="ticket">
      <div class="ticket-title">
        <a href="{{problem_title}}" target="_blank">{{problem_title}}</a>
      </div>
      <div>
          {{problem-summary}}
      </div>
      <div class="meta">
       Located at building {{building}} in room {{room_number}}.
        {{created_at}} by {{user.id}}
        |
        <a href="/note/{{id}}">{{notes.length}} note(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>